<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="#">Dynics Image Viewer</a>
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/image-list']">Image List</a>
    </li>
    <!-- <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/image-carousel']">Image Carousel<span class="sr-only">(current)</span></a>
    </li> -->
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link" [routerLink]="['/sqlimages']">Image Carousel</a>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <form class="form-inline my-2 my-lg-0">
      <input name="sqlimages" class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)]="searchQuery">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchImages(searchQuery)">Search</button>
    </form>
  </ul>
</nav>
<div class="page-header">
  <h2>Image Carousel</h2>
</div>
<div *ngIf="searching">
 <ngb-progressbar showValue="true" type="success" [value]="65"></ngb-progressbar>
</div>
<div>
  <div *ngIf="imagesFound">
    <ngb-carousel [interval]="1000" [wrap]="true" [keyboard]="true" >
      <ng-template ngbSlide *ngFor="let image of images">
          <img class="center" style="max-height:400px; margin:0 auto;" src="data:image/jpg;base64,{{image.image}}">
          <div class="carousel-caption">
                <h4>Serial# {{image.id}}</h4>
            </div>
        </ng-template>
    </ngb-carousel>
  </div>
    <br>
  <div *ngIf="emptyData" class="alert alert-danger" role="alert" role="alert">
         <strong>Oops!</strong> No records found.
  </div>
</div>
